<configuration>
    <!-- LOGBACK logging config file, see http://logback.qos.ch/manual/joran.html -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
            <Pattern>%-5level [%logger{10} %d] %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.rcsb" level="INFO" />
    <logger name="org.mongodb.driver" level="WARN" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
</configuration>
